*{
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

main{
    background-color: rgba(0,0,0,0.075);
    padding: 20px;
    margin: 20px;
    border-radius: 25px;
}

input{
    width: 500px;
    font-size: large;
}

button{
    background-color: rgb(34,34,34);
    color: white;
    font-size: large;
    border-radius: 10px;
    padding: 5px 10px;
    margin: 20px;
}

#respuesta{
    background-color: rgb(34,34,34);
    color: white;
    border-radius: 25px;
    width: 500px;
    margin: auto;
    padding: 20px   ;
}

#icono{
    display: inline-block;
    color: white;
    background-color: blue;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    cursor: pointer;
    user-select: none;
}

#tooltipContainer{
    position: relative;
    display: inline;
}

#tooltip{
    position: absolute;
    background-color: rgb(34,34,34);
    color: white;
    bottom: 10px;
    left: -10px;
    padding: 10px;
    border-radius: 20px;
    width: 200px;
}

.escondido{
    display: none; 
}