.titulo{
  display: flex;
  align-items: center;
  padding: 10px;
}

.title{
  text-align: center;
}

img{
  margin-left: 20px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  width: 40px;
}