<div id="container">
    <img src="assets/imgcatalogo/foto{{foto.id}}.jpeg" alt="" 
    *ngFor="let foto of fotos, index as i"
    (click) = "onCardClicked(i)">
</div>
<dialog type="modal" #modal>
    <img src="" alt="">
    <h3>{{fotos[indiceSeleccionado()].titulo}}</h3>
    <p>{{fotos[indiceSeleccionado()].catalogo}}</p>
    <div class="botones">
        <a href="https://drive.google.com/drive/folders/1GzCfeufJgN-TBleN3wHrvEKmPFax8yXm?usp=drive_link" target="_blank" class="linkBoton">Abrir Drive</a>
        <a href="https://docs.google.com/presentation/d/1gLgCbWV_jCq0Q7u-ZaqXtJ5Cv_fCMTCeYgTZQeZKrUU/edit?usp=drive_link" target="_blank" class="linkBoton">Ver Catalogo</a>
        <a href="https://www.instagram.com/p/C3q01ZELGdy/?igsh=MWdneW56YmRqMjIwbA==" target="_blank" class="linkBoton">Ver Mas</a>
    </div>
</dialog>