/*3.1 Selectores Avanzados

Selector de Atributo: Selecciona elementos basados en un atributo o valor de atributo.*/
a[target="_blank"] {
    color: red;
}

/*Pseudoclases: Estiliza elementos en un estado específico.*/
a:hover {
    text-decoration: none;
}

/*Pseudoelementos: Estiliza partes específicas de un elemento.*/
p::first-line {
    font-weight: bold;
}



