body{
    margin: 0;
    padding: 0;
    font-family: "pixel";
    text-align: center;
    color: #fff;
}

#zonaJuego{
    position: relative;
    background-color: #000;
    height: 100vh;
    overflow: hidden;
}

.paleta{
    position: absolute;
    width: 20px;
    height: 200px;
    background-color: #fff;
}

.bola{
    background-color: #fff;
    width: 30px;
    aspect-ratio: 1;
    border-radius: 50%;
    position: absolute;
}

#tablero{
    font-size: 4rem;
    margin-top: 25px;
}

#paletasContainer :first-child{
    left: 0;
}

#paletasContainer :last-child{
    right: 0;
}

#mensaje{
    position: absolute;
    top: 50%;
    width: 100%;
    font-size: 2.4rem;
}

#instrucciones{
    position: absolute;
    width: 100%;
    bottom: 0;
    font-size: 1.5rem;
}

#instrucciones p{
    margin-bottom: 15px;
}

kbd{
    background-color: rgba(255, 255, 255, 0.312);
    display: inline-block;
    width: 30px;
    aspect-ratio: 1;
}

.escondido{
    opacity: 0;
}

@font-face {
    font-family: "pixel";
    src: url(./fonts/pixel2.TTF);
}

.titilar{
    animation-name: titilar;
    animation-duration: 0.8s;
    animation-iteration-count: infinite;
}

@keyframes titilar {
    0%{
        opacity: 100%;
    }
    49.99%{
        opacity: 100%;
    }
    50%{
        opacity: 0%;
    }
    99.99%{
        opacity: 0%;
    }
}