:root{
    --color-text-titulos: #fff;
    --color-texto: #dedede;
    --color-acento: #ff9900;
    --color-fondo: #000000;
    --color-fondo-tarjeta: #ffffff27;
}

body{
    margin: 0;
    background-color: var(--color-fondo);
    color: var(--color-texto);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    display: grid;
    grid-template-areas: 
    "aside header"
    "aside main"
    "footer footer"
    ;
    grid-template-columns: 230px 1fr;
    user-select: none;
}

header{
    grid-area: header;
    /* background-color: #004e69;
    background-image: linear-gradient(53deg, #004e69 0%, #00b3a2 100%); */
    background: linear-gradient(45deg, #0a0a0a, #171717, #2c2c2c);
    border-bottom-left-radius: 5px;
    display: flex;
    justify-content: space-between;
}

h1, h2, h3{
    color: var(--color-text-titulos);
}

header div{
    margin: 40px;
    margin-right: 0;
    min-width: 200px;
}

a:not(footer a){
    background-color: var(--color-acento);
    text-decoration: none;
    color: var(--color-fondo);
    font-weight: bold;
    border-radius: 5px;
    padding: 10px 40px;
    user-select: none;
}

a:not(footer a):hover{
    background-color: #cac8a5;
}

#tarjetasContainer{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.proyecto{
    flex-basis:  314px;
    flex-grow: 1;
    flex-shrink: 1;
    display: flex;
    flex-direction: column;
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
}

.tecnologia{
    margin-left: 10px;
    transition: 0.2s;
    user-select: none;
}

.tecnologia:hover{
    color: var(--color-acento);
}

.proyecto img{
    height: 150px;
    object-fit: cover;
    filter: grayscale(0.8);
    transition: 0.3s;
    border-radius: 5px 5px 0 0;
}

.proyecto:hover img{
    filter: grayscale(0);
}

.proyecto div{
    margin: 0 20px;
}

.proyecto a{
    margin-top: auto;
    text-align: center;
    border-top-right-radius: 0;
    border-top-left-radius: 0;
}

.tarjeta{
    background-color: var(--color-fondo-tarjeta);
    border-radius: 5px; 
}

aside{
    grid-area: aside;
    padding: 0px 20px;
    margin-right: 20px;
}

aside>div{
    padding: 20px 0;
    border-bottom: 5px solid var(--color-fondo);
}

aside>div:last-of-type{
    border-bottom: unset;
}

aside img{
    max-width: 100%;
    max-height: 200px;
    display: block;
    margin: auto;
    margin-bottom: 15px;
}

.presentacion div, .idioma div, .lenguaje div{
    display: flex;
    justify-content: space-between;
}

.presentacion span:last-of-type{
    color: var(--color-text-titulos);
}

progress{
    -webkit-appearance: none;
}

::-webkit-progress-bar{
    background-color: var(--color-fondo);
}

::-webkit-progress-inner-element{
    height: 7px;
}

::-webkit-progress-value{
    background-color: var(--color-acento);
}

main{
    grid-area: main;
}

.red{
    display: flex;
    justify-content: space-around;
}

.red img{
    height: 20px;
    filter: invert(1);
}

.red a{
    background-color: unset;
    padding: unset;
}

footer{
    grid-area: footer;
    text-align: center;
    margin-top: 30px;
    background-color: var(--color-fondo-tarjeta);
}

footer a{
    color: var(--color-texto);
}

header .foto1{
    width: 200px;
    object-fit: contain;
    flex-shrink: 1;
    margin-right: 50px;
    margin-top: auto;
}

@media(max-width: 850px){
    header img{
        display: none;
    }
    
    main{
        margin-right: 20px;
    }
}

@media(max-width: 650px){
    body{
        grid-template-columns: 1fr;
        grid-template-areas:
            "header" "main" "aside" "footer"
        ;
    }


    main, aside{
        margin: 0 20px;
    }
}