:root{
    --color-text-titulos: #fff;
    --color-texto: #dedededd;
    --color-acento: #e6e4c6;
    --color-fondo: #033a47;
    --color-fondo-tarjeta: #ffffff27;
}

body{
    background-color: var(--color-fondo);
    color: var(--color-texto);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    display: grid;
    grid-template-areas: 
    "aside header"
    "aside main"
    "footer footer"
    ;
    grid-template-columns: 220px 1fr;
}

header{
    grid-area: header;
    background-color: #004e69;
    background-image: linear-gradient(53deg, #004e69 0%, #00b3a2 100%);
    border-bottom-left-radius: 5px;
    display: flex;
    justify-content: space-between;
}

header div{
    margin: 40px;
}

a:not(footer a){
    background-color: var(--color-acento);
    text-decoration: none;
    color: var(--color-fondo);
    border-radius: 5px;
    padding: 10px 40px;
}

aside{
    grid-area: aside;
}

main{
    grid-area: main;
}

footer{
    grid-area: footer;
}

footer a{
    color: var(--color-texto);
}

header .foto1{
    max-height: 300px;
    flex-shrink: 1;
    margin-right: 50px;
}