<ion-header>
  <app-header></app-header>
</ion-header>


<ion-content>
  <ion-content color="light">
    <h2>Coincidencias</h2>
    <ion-list [inset]="true">
        <div *ngFor="let persona of listaPersonas" class="personaContainer" [ngClass]="{'virtual' : persona.metodoEstudio.includes('virtual'), 'presencial': persona.metodoEstudio.includes('presencial')}">
          <div class="arriba">
            <ion-chip *ngFor="let materia of persona.coincidencias">{{materia}}</ion-chip>
          </div>
          <ion-label>{{persona.nombre}}</ion-label>
        </div>
        <!-- <ion-icon name="information-circle" slot="end"></ion-icon> -->
    </ion-list>
  </ion-content>
</ion-content>
