.arriba{
  display: block;
}

ion-chip{
  font-size: 1rem;
}

ion-list{
  padding: 20px;
}

.personaContainer{
  padding: 10px 0;
}

.virtual{
  background-color: #00684e;
}

.presencial{
  background-color: #7c2d3a;
}