/* You can add global styles to this file, and also import other style files */
@use "./assets/styles/variables.scss";

*{
    margin: 0;
    padding: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    scroll-behavior: smooth;
}


ul{
    list-style: none;
}

a{
    text-decoration: none;
}

p{
    margin: 1rem 0;
}

.linkBoton{
    background-color: variables.$color-primario;
    padding: 1rem 2rem;
    border-radius: 5px;
    font-weight: bold;
    color: black;
    transition: 0.1s;

    &:hover{
        color: variables.$color-texto-invertido;
        background-color: variables.$color-primario-oscuro;
    }
}